.git
.github
.env
.env.*
!.env.platform.example
!.env.documentos.example
.idea
.vscode
node_modules
vendor
public/build
public/hot
storage/app/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
docker-compose.yml
compose.dev.yaml
Dockerfile.dev
*.log
*.xlsx
